@font-face {
    font-family: 'myfont';
    src: url('../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf'),    
  }
  .home {
    font-family: 'myfont', sans-serif;
    background-image: url('../assets/images/Dusty.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: fit-content; 
 
  }

  .home__img {
    background: url(../assets/images/WhatsApp\ Image\ 2024-10-11\ at\ 15.09.35.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10%;
    order: 1;
    justify-self:center;
    width: 23vw;
    height: 70vh;
    animation: profile__animate 8s ease-in-out infinite 1s;
    margin-top: 50px;
}

